<!-- myapp/templates/myapp/login.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AlgoTrader | Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'myapp/css/styles.css' %}"
    />
  </head>
  <body>
    <h1>Login</h1>
    <div class="container">
      <form method="post" action="">
        {% csrf_token %}

        <div class="container">
          <input
            type="password"
            class="input-box"
            placeholder="Password"
            id="password"
            name="password"
            required
          />
        </div>
        <div class="container">
          <button type="submit" id="login-button">Login</button>
        </div>
      </form>
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const loginButton = document.getElementById("login-button");

      // Login
      if (loginButton) {
        loginButton.addEventListener("submit", function (event) {
          event.preventDefault();
          fetch("/", {
            method: "POST",
            body: formData,
            headers: {
              "X-CSRFToken": getCookie("csrftoken"),
            },
          })
            .then((response) => {
              if (!response.ok) {
                alert("Invalid password. Please try again.");
              }
            })
            .catch((error) => console.error("Error:", error));
        });
      }

      // Function to get CSRF token
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
    });
  </script>
</html>
